/* Paleta de Colores */
/* #603b32 */
/* #b59791 */

/* Fuente Tipográfica */
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #b59791;
    font-family: 'Tenor Sans', sans-serif;
    color: #603b32;
}

header{
    background-color: #603b32;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0px;
}

header img{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 80px;
}
nav{
    width: 60%;
}
header ul{
    
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
}

header a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem;
}

.banner{
    text-align:center;
} 

.banner img{
    margin-top: 120px;
    margin-bottom: 120px;
}

.pd{
    font-family: 'dixey', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: white;
    justify-self: center;
    align-self: center;
    grid-area: pd;
    font-size: 3rem;
}

.imagenes{
    background-color: #603b32;
    border-radius: 10px;
    justify-content: center;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 5% 34% 70%;
    grid-template-areas: 
    "pd pd"
    "imagen1 imagen3"
    "imagen2 imagen3";
    gap: 2px;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 90px;
    padding: 250px 0;
}

.img1{
    grid-area: imagen1;
}

.img2{
    grid-area: imagen2;
}

.img3{
    grid-area: imagen3;
}

.img1 img{
    width: 90%;
    height: 90%;
}
.img2 img{
    width: 90%;
    height: 90%;

}

.img3 img{
    width: 90%;
    height: 90%;
}

footer{
    background-color: #603b32;
}

footer ul{
    
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
}

footer a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
}

.acercademi{
    font-family: 'dixey', sans-serif;
    display: grid;
    grid-template-areas: 
    "foto titulo2"
    "foto p";
    grid-template-columns:20% 50%;
    grid-template-rows: 15% 50%;
    align-items: start;
    align-content: center;
    justify-content: center;
    gap: 40px;
}

.foto img{
    grid-area: foto;
    width: 80%;
    height: 80%;
}

.titulo2{
    grid-area: titulo2;
    font-size: 4rem;
    justify-items: left;
}

.p{
    font-family: 'Tenor Sans', sans-serif;
    grid-area: p;
    font-size: 1.7rem;
}

.acercadelboton{
    padding: 0px 700px;
}

.colaborar{
    font-family: 'dixey', sans-serif;
    font-size: 3rem;

}

input{
    margin: 10px auto;
}

.boton{
    background-color: #603b32;
    font-family: 'dixey', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    width: 200px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 7px;
    font-size: 1.3rem;
    margin-bottom: 10%;
}

.formulario{
    margin-top: 50px;
}
.mensaje{
    font-family: 'dixey', sans-serif;
    text-align: center;
    margin: 50px 0;
    font-size: 3rem;
    color: #603b32;
    font-weight: 600;
}
.mainContacto form{
    background-color: #603b32;
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 0;
    color: #ffffff;
}
input{
    width: 80%;
    margin: 10px auto;
}

.msj{
    width: 80%;
    margin: 10px auto;
}

.boton1{
    font-family: 'dixey', sans-serif;
    width: 105px;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 7px;
    color:#603b32;
    font-weight: 600;
    text-transform: uppercase;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4,  1fr);
    grid-auto-rows: 50px;
    padding: 40px;
    grid-gap: 30px;
}

.grid-item{
    position: sticky;
}

.grid-tittle{
    position: absolute;
    bottom: 0;
    color:#ffffff;
    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1));
    width: 100%;
    margin-bottom: 0%;
    padding: 10px;
    font-size: 1rem;
}

.grid-item:nth-child(1){
    grid-row-start: span 4;
}

.grid-item:nth-child(2){
    grid-row-start: span 10;
}

.grid-item:nth-child(3){
    grid-row-start: span 10;
}

.grid-item:nth-child(4){
    grid-row-start: span 10;
}

.grid-item:nth-child(5){
    grid-row-start: span 10;
}

.grid-item:nth-child(6){
    grid-row-start: span 10;
}

.grid-item:nth-child(7){
    grid-row-start: span 10;
}

.grid-item:nth-child(8){
    grid-row-start: span 8;
}

.grid-item:nth-child(9){
    grid-row-start: span 10;
}

.grid-item:nth-child(10){
    grid-row-start: span 10;
}

.grid-item:nth-child(11){
    grid-row-start: span 6;
}

.grid-item:nth-child(12){
    grid-row-start: span 4;
}

.grid-item:nth-child(13){
    grid-row-start: span 6;
}

.grid-item:nth-child(14){
    grid-row-start: span 10;
}

.grid-item:nth-child(15){
    grid-row-start: span 13;
}

.grid-item:nth-child(16){
    grid-row-start: span 10;
}

.grid-item:nth-child(17){
    grid-row-start: span 10;
}

.grid-item:nth-child(18){
    grid-row-start: span 10;
}

.grid-item:nth-child(19){
    grid-row-start: span 10;
}

.grid-item:nth-child(20){
    grid-row-start: span 10;
}

.grid-item:nth-child(21){
    grid-row-start: span 5;
}

.grid-item:nth-child(22){
    grid-row-start: span 10;
}

.grid-item:nth-child(23){
    grid-row-start: span 10;
}

.grid-item:nth-child(24){
    grid-row-start: span 10;
}

.grid-item:nth-child(25){
    grid-row-start: span 10;
}

.grid-item:nth-child(26){
    grid-row-start: span 10;
}

.grid-item:nth-child(27){
    grid-row-start: span 5;
}

.grid-item:nth-child(28){
    grid-row-start: span 10;
}

.grid-item:nth-child(29){
    grid-row-start: span 9;
}

.grid-item:nth-child(30){
    grid-row-start: span 8;
}

.grid-item:nth-child(31){
    grid-row-start: span 4;
}

.grid-items{
    width: 100%;
    margin-top: 40px;
}

.grid-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-items34{
    width: 50%;
    margin: 40px;
    margin-left: 25%;
    margin-right: 25%;
}

@media screen and (max-width:500px) {
    header{
        flex-direction: column-reverse;

    }
    nav{
        width: 100%;
        margin-top: 5px;
    }

    ul{
       margin: 10px 10px; 
    }


    .grid-container{
        grid-template-columns: repeat(2,  1fr);
    }

    .grid-tittle{
        font-size: 0.5rem;
    }

    .grid-item:nth-child(1){
        grid-row-start: span 2;
    }

    .grid-item:nth-child(2){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(3){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(4){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(5){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(6){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(7){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(8){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(9){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(10){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(11){
        grid-row-start: span 2;
    }

    .grid-item:nth-child(12){
        grid-row-start: span 2;
    }

    .grid-item:nth-child(13){
        grid-row-start: span 2;
    }

    .grid-item:nth-child(14){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(15){
        grid-row-start: span 4;
    }

    .grid-item:nth-child(16){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(17){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(18){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(19){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(20){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(21){
        grid-row-start: span 2;
    }

    .grid-item:nth-child(22){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(23){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(24){
        grid-row-start: span 3;
    }
    
    .grid-item:nth-child(25){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(26){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(27){
        grid-row-start: span 2;
    }

    .grid-item:nth-child(28){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(29){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(30){
        grid-row-start: span 3;
    }

    .grid-item:nth-child(31){
        grid-row-start: span 3;
    }


}

